{% extends 'base.html' %}

{% block main %}
            <div class="row">
                <div class="col-sm-12">
                    <h1>Fórum</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <table class="table table-striped table-forum">
                            <thead>
                                <tr>
                                    <th colspan="2"><i class="fa fa-gamepad"></i> Jogo</th>
                                    <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Tópicos</th>
                                    <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
                                    <th class="hidden-xs hidden-sm" style="width: 200px;">Últimos Posts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" style="width: 40px;"><i class="fa fa-globe fa-2x text-muted"></i></td>
                                    <td>
                                        <h5>
                                            <a href="/topic">
                                                Discussão Geral
                                            </a>
                                            <small class="d-block">
                                                Aqui você discute sobre assuntos gerais do Point Blank. Pesquise nas outras áreas antes de criar um tópico aqui e seja bem vindo!
                                            </small>
                                        </h5>
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        431
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        1342
                                    </td>
                                    <td class="hidden-xs hidden-sm">por 
                                        <b>Game Master</b>
                                        <br>
                                        <small><i>1 nov 2017, 14:30</i></small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="width: 40px;"><i class="fa fa-microphone fa-2x text-muted"></i></td>
                                    <td>
                                        <h5>
                                            <a href="/topic">
                                                Dicas e Tutoriais
                                            </a>
                                            <small class="d-block">
                                                Aqui os usuários com maior conhecimento disponibilizam sua experiência com os demais, leia sempre e fique por dentro!
                                            </small>
                                        </h5>
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        431
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        1342
                                    </td>
                                    <td class="hidden-xs hidden-sm">por 
                                        <b>Game Master</b>
                                        <br>
                                        <small><i>1 nov 2017, 14:30</i></small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="width: 40px;"><i class="fa fa-pencil fa-2x text-muted"></i></td>
                                    <td>
                                        <h5>
                                            <a href="/topic">
                                                Off-Topic
                                            </a>
                                            <small class="d-block">
                                                Um descanso dos assuntos do jogo. Aqui o fórum é livre, respeite os companheiros e modere o assunto! 
                                            </small>
                                        </h5>
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        431
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        1342
                                    </td>
                                    <td class="hidden-xs hidden-sm">por 
                                        <b>Game Master</b>
                                        <br>
                                        <small><i>1 nov 2017, 14:30</i></small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-forum">
                            <thead>
                                <tr>
                                    <th colspan="2"><i class="fa fa-question-circle"></i> Dúvidas Técnicas</th>
                                    <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Tópicos</th>
                                    <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
                                    <th class="hidden-xs hidden-sm" style="width: 200px;">Últimos Posts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" style="width: 40px;"><i class="fa fa-table fa-2x text-muted"></i></td>
                                    <td>
                                        <h5>
                                            <a href="/topic">
                                                S.O.S
                                            </a>
                                            <small class="d-block">
                                                Se você tiver qualquer problema técnico ou precisar de uma forcinha para resolver alguma questão específica do jogo, manda pra gente! Qualquer um pode te ajudar!
                                            </small>
                                        </h5>
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        431
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        1342
                                    </td>
                                    <td class="hidden-xs hidden-sm">por 
                                        <b>Game Master</b>
                                        <br>
                                        <small><i>1 nov 2017, 14:30</i></small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="width: 40px;"><i class="fa fa-bar-chart-o fa-2x text-muted"></i></td>
                                    <td>
                                        <h5>
                                            <a href="/topic">
                                                Perguntas e Respostas
                                            </a>
                                            <small class="d-block">
                                                Caso possua alguma dúvida rápida, essa seção é o local mais indicado para postá-la e resolver o seu problema!
                                            </small>
                                        </h5>
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        431
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        1342
                                    </td>
                                    <td class="hidden-xs hidden-sm">por 
                                        <b>Game Master</b>
                                        <br>
                                        <small><i>1 nov 2017, 14:30</i></small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-forum">
                            <thead>
                                <tr>
                                    <th colspan="2"><i class="fa fa-trophy"></i> Arte e Eventos</th>
                                    <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Tópicos</th>
                                    <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
                                    <th class="hidden-xs hidden-sm" style="width: 200px;">Últimos Posts</th>
                                </tr>   
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" style="width: 40px;"><i class="fa fa-book fa-2x text-muted"></i></td>
                                    <td>
                                        <h5>
                                            <a href="/topic">
                                                SS's, Arte e Vídeos
                                            </a>
                                            <small class="d-block">
                                                Tirou uma screenshot digna de ser mostrada aos outros jogadores do jogo? Gravou um vídeo interessante do jogo? Tem um tutorial muito bom para compartilhar? Aqui é o lugar certo!
                                            </small>
                                        </h5>
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        431
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        1342
                                    </td>
                                    <td class="hidden-xs hidden-sm">por 
                                        <b>Game Master</b>
                                        <br>
                                        <small><i>1 nov 2017, 14:30</i></small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="width: 40px;"><i class="fa fa-question-circle fa-2x text-muted"></i></td>
                                    <td>
                                        <h5>
                                            <a href="/topic">
                                                Eventos
                                            </a>
                                            <small class="d-block">
                                                A equipe posta aqui todos os eventos dedicados somente ao fórum do jogo. Leia e não deixe de participar e faturar alguns prêmios! 
                                            </small>
                                        </h5>
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        431
                                    </td>
                                    <td class="text-center hidden-xs hidden-sm">
                                        1342
                                    </td>
                                    <td class="hidden-xs hidden-sm">por 
                                        <b>Game Master</b>
                                        <br>
                                        <small><i>1 nov 2017, 14:30</i></small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% endblock %}