{% extends 'base.html' %}
{% block titulo %}
Novo Post -
{% endblock titulo %}
{% block main %}
            <div class="row">
                <div class="col-sm-12">
                    <h1>Novo Tópico</h1>
                </div>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Fórum</a></li>
                    <li class="breadcrumb-item"><a href="/topic">Tópicos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Novo Tópico</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <table class="table table-striped table-forum">
                            <tbody>
                                <tr>
                                    <td>
                                        <form action="" method="POST">
                                                {{ form.errors }}
                                                {% csrf_token %}
                                            <div class="form-group">
                                                <label for="title">Título</label>
                                                <input class="form-control" name="title" id="title" placeholder="Digite o Título" maxlength="128" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="user">Usuário</label>
                                                <input class="form-control" name="user" id="user" placeholder="Digite seu Usuário" maxlength="24" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="avatar">Avatar</label>
                                                <input class="form-control" id="avatar" name="avatar" placeholder="Cole a URL do avatar" maxlength="128" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Mensagem</label>
                                                <textarea class="form-control" name="message" id="message" placeholder="Digite sua mensagem com até 1024 caracteres" rows="4"></textarea>
                                            </div>
                                            <button class="btn btn-primary margin-top-10"><i class="fa fa-plus-circle"></i> Criar</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endblock %}