{% extends 'base.html' %}
{% block titulo %}
Post -
{% endblock titulo %}

         {% block main %}
            <div class="row">
                <div class="col-sm-12">
                    <h1>Exemplo de Título</h1>
                </div>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Fórum</a></li>
                    <li class="breadcrumb-item"><a href="/topic">Tópicos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Exemplo de Título</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <table class="table table-striped table-forum">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <b>Game Master</b>
                                    </td>
                                    <td><em>1 nov 2017, 14:30</em></td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="width: 12%;">
                                        <div class="push-bit">
                                            <img src="https://br.cdz.ongame.net/static/media/2017/09/ss_banners_genericos_site-1_EbdDE2B.jpg" width="150" alt="avatar" class="online">
                                        </div>
                                        <small>473 Posts</small>
                                    </td>
                                    <td>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae dictum dolor, id mollis dolor. In consectetur metus vitae lectus imperdiet dictum. Phasellus at nisl nec mauris semper iaculis. Aenean vehicula elit mauris, sed blandit est bibendum in. Donec pulvinar augue quis mattis egestas. Curabitur nec felis faucibus, mollis mauris et, mattis lectus. In id arcu quis odio aliquet condimentum a nec quam. Proin dui arcu, convallis sit amet posuere et, commodo sed orci. 
                                        </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="text-center">
                                        <b>Game Master</b>
                                    </td>
                                    <td><em>1 nov 2017, 14:30</em></td>
                                </tr>       
                                <tr>
                                    <td class="text-center" style="width: 12%;">
                                        <div class="push-bit">
                                            <img src="https://br.cdz.ongame.net/static/media/2017/11/ss_banners_genericos_site-5_A2q6R21.jpg" width="150" alt="avatar" class="offline">
                                        </div>
                                        <small>473 Posts</small>
                                    </td>
                                    <td>
                                        <p>
                                            Sed volutpat vulputate nunc, eget pharetra quam finibus et. Nulla facilisi. Mauris luctus vehicula felis, vitae consectetur purus elementum sed. Aenean faucibus aliquam imperdiet. Quisque sit amet commodo quam. Vivamus eget consectetur lorem, non aliquam sem. Maecenas id sem nec nisl gravida efficitur. Duis at libero quis dui dictum semper in et enim. Integer ipsum ligula, tincidunt et dolor sed, bibendum sagittis nisl. Praesent in posuere risus. In ornare libero erat, at eleifend magna tincidunt eu. Donec nec malesuada lorem. Sed suscipit molestie dolor id fermentum. In egestas quam sollicitudin ultricies ullamcorper. In vitae ligula consectetur, viverra velit in, ornare tortor. Curabitur bibendum orci elit, vestibulum molestie urna blandit ac. 
                                        </p>
                                    </td>
                                </tr>
                                {% for p in post %}
                            <tr>
                                <td class="text-center">
                                    <b>{{ p.user }}</b>
                                </td>
                                <td><em>1 nov 2017, 14:30</em></td>
                            </tr>       
                            <tr>
                                <td class="text-center" style="width: 12%;">
                                    <div class="push-bit">
                                        <img src="{{ p.avatar }}" width="150" alt="avatar" class="offline">
                                    </div>
                                    <small>473 Posts</small>
                                </td>
                                <td>
                                    <p>
                                        {{ p.message }} 
                                    </p>
                                </td>
                            </tr>
                            {% endfor %}
                                <tr>
                                    <td class="text-center">
                                        <b></b>
                                    </td>
                                    <td><em>Re: Exemplo de Título</em></td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="width: 12%;">
                                    </td>
                                    <td>
                                        <form action="" method="POST">
                                                {{ form.errors }}
                                                {% csrf_token %}
                                            <div class="form-group">
                                                <label for="user">Usuário</label>
                                                <input class="form-control" name="user" id="user" placeholder="Digite seu Usuário" maxlength="24" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="avatar">Avatar</label>
                                                <input class="form-control" name="avatar" id="avatar" placeholder="Cole a URL do avatar" maxlength="128" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Mensagem</label>
                                                <textarea class="form-control" name="message" id="message" placeholder="Digite sua mensagem com até 1024 caracteres" rows="4"></textarea>
                                            </div>
                                            <button class="btn btn-primary margin-top-10">Postar</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endblock %}